/* color palette from <https://github.com/vuejs/theme> */

@font-face {
  font-family: Caveat-regular;
  src: url(../assets/fonts/Caveat/Caveat-Regular.ttf);
}

@font-face {
  font-family: Caveat-bold;
  src: url(../assets/fonts/Caveat/Caveat-Bold.ttf);
}

@font-face {
  font-family: Outfit-light;
  src: url(../assets/fonts/Outfit/Outfit-Light.ttf);
}


:root {
  --copper: #B87D4B;
  --van-dyke: #523A34;
  --persian-red: #CC3B3B;
  --arylide-yellow: #ECD86F;
  --hunyadi-yellow: #E5B25D;

  --color-dark-one: #303030;
  --color-dark-two: #1B1B1B;
  --color-dark-three: #030303;

  --color-white-one: #D7D7D7;
  --color-white-two: #E8E8E8;
  --color-white-three: #F0F0F0;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-white-two);
  --color-text: var(--color-dark-one);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-dark-two);
    --color-text: var(--color-white-one);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: none;    
}

body::-webkit-scrollbar-thumb {
  background-color: var(--copper); 
  border-radius: 100px;
  border: none;
}